ROLE_HUB_DB_DIALECT=postgres
ROLE_HUB_DB_DSN=postgresql://<user>:<password>@<host>/<db>?sslmode=require
ROLE_HUB_DB_TIMEOUT=3s
ROLE_HUB_RATE_LIMIT_RPS=5
ROLE_HUB_RATE_LIMIT_BURST=10
ROLE_HUB_MAX_BODY_BYTES=1048576
ROLE_HUB_MAX_RESULTS=500
ROLE_HUB_MAX_INFLIGHT=100
